/*
$$$$$$$$\ $$\                       $$$$$$$\                                $$\       
\__$$  __|$$ |                      $$  __$$\                               $$ |      
   $$ |   $$$$$$$\   $$$$$$\        $$ |  $$ | $$$$$$\   $$$$$$\   $$$$$$$\ $$$$$$$\  
   $$ |   $$  __$$\ $$  __$$\       $$$$$$$  |$$  __$$\  \____$$\ $$  _____|$$  __$$\ 
   $$ |   $$ |  $$ |$$$$$$$$ |      $$  __$$< $$$$$$$$ | $$$$$$$ |$$ /      $$ |  $$ |
   $$ |   $$ |  $$ |$$   ____|      $$ |  $$ |$$   ____|$$  __$$ |$$ |      $$ |  $$ |
   $$ |   $$ |  $$ |\$$$$$$$\       $$ |  $$ |\$$$$$$$\ \$$$$$$$ |\$$$$$$$\ $$ |  $$ |
   \__|   \__|  \__| \_______|      \__|  \__| \_______| \_______| \_______|\__|  \__|
*/
/*Devs: Marsimplodation, The Pale Rider (Ares)*/
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0%;
  }
  
  a {
    float: left;
  }
  
  a li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  a li:hover {
    background-color: rgb(66, 66, 66);
  }
  
  .active li:hover{
    background-color: rgb(26, 11, 53);
  }
  .active{
    background-color:  rgb(26, 11, 53);
  }

  #discord{
  background-image: url('../images/discord.png');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  }

  #patreon{
 background-image: url('../images/patreon.png');
 min-height: 100%
 background-position:center;
 background-size: cover;  
}

#twitter{
 background-image: url('../images/twitter.png');
 min-height: 100%
 background-position: center;
  background-size: cover;
}  
.support{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
      position: sticky;
      bottom: 0px;
  }
