/*
$$$$$$$$\ $$\                       $$$$$$$\                                $$\       
\__$$  __|$$ |                      $$  __$$\                               $$ |      
   $$ |   $$$$$$$\   $$$$$$\        $$ |  $$ | $$$$$$\   $$$$$$\   $$$$$$$\ $$$$$$$\  
   $$ |   $$  __$$\ $$  __$$\       $$$$$$$  |$$  __$$\  \____$$\ $$  _____|$$  __$$\ 
   $$ |   $$ |  $$ |$$$$$$$$ |      $$  __$$< $$$$$$$$ | $$$$$$$ |$$ /      $$ |  $$ |
   $$ |   $$ |  $$ |$$   ____|      $$ |  $$ |$$   ____|$$  __$$ |$$ |      $$ |  $$ |
   $$ |   $$ |  $$ |\$$$$$$$\       $$ |  $$ |\$$$$$$$\ \$$$$$$$ |\$$$$$$$\ $$ |  $$ |
   \__|   \__|  \__| \_______|      \__|  \__| \_______| \_______| \_______|\__|  \__|
*/
/*Devs: Marsimplodation, The Pale Rider (Ares)*/

.shop{
    color: black;
    background-color: rgba(53, 53, 53, 0.342);
    width: 80%;
    height: 80%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}